@font-face {
  font-family: "Lato Regular";
  src: url("../../assets/fonts/Lato/Lato-Regular.woff2") format("woff2") , url("../../assets/fonts/Lato/Lato-Regular.woff") format("woff");
}

body {
  font-family: "Lato Regular";
  font-size: 14px;

}



.flex {
  display: flex;
  align-items:center;
}

.flex.flex-bottom{
  align-items: flex-end;
}

.flex.justify-content{
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-even {
  display:flex;
  align-items: center;
  justify-content: space-between;
}





.start {
  background-color: red;
  border-color:red;

}

.end {
  background-color: green;
  border-color: green;
}

.room {
  position:absolute;
  border:solid;border-width: 1px;
}

.door {
  position:absolute;
  border:solid;
  border-width: 1px;

}

.door-color{
  border-color:white;
}

.path {
  position:absolute;


}

.path-node{
  background-color: green;
  height:4px;
  width:4px;

}

.app-header{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
}

.app-menu{
  background-color:gray;
  color: white;
}

.direction-box{
  background-color:white;
  border:solid;
  border-color:gray;
  z-index:1000;

}

.map-area{
  position:absolute;
  top:75px;
  left:0px;
  z-index:500;
}

.error{
  color:red;
}

