<div>
  <div class="app-header">
    <div class="flex-even app-menu">
      <div (click)="showDirections()" class="m-l-sm">Directions</div>
      <div (click)="changeFloor()">{{floorName}}<span class="m-l-sm fa" [ngClass]=" nFloor ? 'fa-arrow-circle-down' : 'fa-arrow-circle-up'"></span></div>
      <div  (click)="clearRoute()" class="m-r-sm">Clear Route</div>
    </div>
    <div class="direction-box" *ngIf="showDirectionBox">
      <div class="direction-fields p-l-sm p-t-sm p-r-sm">
        <div class="m-b-xs">Start: <app-room-typeahead   (onSelectRoom)="changeStart($event)"></app-room-typeahead></div>
        <div>End: <app-room-typeahead (onSelectRoom)="changeEnd($event)"></app-room-typeahead></div>

        <div *ngIf="error" class="error">{{ error }}</div>
      </div>
      <div class="clearfix m-t-sm m-b-sm">
        <div class="pull-right btn btn-primary m-r-sm" (click)="showPath()">Show Path</div>
      </div>

    </div>
  </div>
  <div class="map-area" id="map-area" (click)="hideDirections()">
    <div *ngFor="let room of schoolMap.rooms">
      <div class="room" id={{room.roomId}} [ngClass]="getRoomClass(room)"
           [style.top]="room.getTop(zoomFactor, yOffSet)"
           [style.left]="room.getLeft(zoomFactor, xOffSet)"
           [style.height]="room.getHeight(zoomFactor)" [style.width]="room.getWidth(zoomFactor)">
        <span [ngClass]="{'big-room-name': room.height > 5, 'small-room-name': room.height <= 5 }"> {{room.name}}</span>
        <span *ngIf="room.roomType == 'Stair'" (click)="doStairs(room)"><span class="m-l-sm fa" [ngClass]=" nFloor ? 'fa-arrow-circle-down' : 'fa-arrow-circle-up'"></span></span>
      </div>
      <div *ngFor="let door of room.doors">
        <div  [ngClass]="{'door-color': !room.isStart() && !room.isEnd(), 'start' : room.isStart(), 'end' : room.isEnd()}" class="door"
              [style.top]="door.getTop(zoomFactor, yOffSet)"
              [style.left]="door.getLeft(zoomFactor, xOffSet)" [style.height]="door.getHeight(zoomFactor)"
              [style.width]="door.getWidth(zoomFactor)">

        </div>
      </div>
      <div *ngFor="let point of path">
        <div class="path" [style.top]="point.getTop(zoomFactor, yOffSet)" [style.left]="point.getLeft(zoomFactor,xOffSet)"
             [style.width]="point.getWidth(zoomFactor)"
             [style.height]="point.getHeight(zoomFactor)">
          <div class="path-node" ></div>
        </div>
      </div>
    </div>
  </div>
</div>
